<title>User Info</title>
<div>
	<h2>Your Information</h2>
	</br>
</div>
<div>
    <table>
        <tr><td>Display Name:</td><td>{{displayName}}</td></tr>
        <tr><td>Given Name:</td><td>{{givenName}}</td></tr>
        <tr><td>Family Name:</td><td>{{familyName}}</td></tr>
        <tr><td>User ID:</td><td>{{id}}</td></tr>
    </table>
    <p>JWT Token:</p>
    <p>{{id_token}}</p>
    <p>
        This information was obtained from Google People API
        by requesting information with the code and token provided
        by Google when you authorized this app to access your information.
    </p>
</div>
<div>
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/1915_Detroit_Electric.jpg/1024px-1915_Detroit_Electric.jpg" alt="Picture of detroit electric car">
</div>
<link rel="stylesheet" href="styles.css" type="text/css">
